In [1]:
import pandas as pd
import numpy as np
col_names=['pregnant','skin', 'insulin', 'bmi', 'age','glucose','bp','pedigree','label']
data=pd.read_csv(r"D:\data science tasks\data_sets\diabetes.csv",names=col_names)

data.head()

   pregnant  skin  insulin  bmi  age  glucose     bp  pedigree  label
0         6   148       72   35    0     33.6  0.627        50      1
1         1    85       66   29    0     26.6  0.351        31      0
2         8   183       64    0    0     23.3  0.672        32      1
3         1    89       66   23   94     28.1  0.167        21      0
4         0   137       40   35  168     43.1  2.288        33      1

In [65]:
X=data[['pregnant','skin', 'insulin', 'bmi', 'age','glucose','bp','pedigree']]


X.shape

(768, 8)

In [93]:
data[['pregnant','skin', 'insulin', 'bmi', 'age','glucose','bp','pedigree']].corr()

,pregnant,skin,insulin,bmi,age,glucose,bp,pedigree
pregnant,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341
skin,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514
insulin,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528
bmi,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970
age,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163
glucose,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242
bp,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561
pedigree,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000

In [67]:
Y=data[['label']]
Y.shape
print(Y)

     label
0        1
1        0
2        1
3        0
4        1
..     ...
763      0
764      0
765      0
766      1
767      0

[768 rows x 1 columns]

In [68]:
from sklearn.model_selection._split import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.25,random_state=1)
X_train.shape

(576, 8)

In [69]:
X_test.shape

(192, 8)

In [99]:
y_train.head()

     label
118      0
205      0
506      1
587      0
34       0

In [71]:
y_test

     label
285      0
101      0
581      0
352      0
726      0
..     ...
247      0
189      1
139      0
518      0
629      0

[192 rows x 1 columns]

In [81]:
from sklearn.linear_model import LogisticRegression 
logrm=LogisticRegression().fit(X_train,y_train)

c:\users\tarun\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\tarun\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [77]:
y_pred=logrm.predict(X_test)

In [85]:
from sklearn import metrics
cm=metrics.confusion_matrix(y_test,y_pred)
print(cm)

[[110  13]
 [ 29  40]]

In [86]:
metrics.accuracy_score(y_test,y_pred)

0.78125

In [88]:
metrics.precision_score(y_test,y_pred)

0.7547169811320755

In [90]:
metrics.recall_score(y_test,y_pred)

0.5797101449275363

In [2]:
# mp.mean(y_pred == y_test)

NameError: name 'mp' is not defined